:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.card-decks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-decks section {
  margin: 1rem 1rem;
}

.deck-of-cards-facedown {
  border: 3px solid black;
  height: 15rem;
  width: 10rem;
  cursor: pointer;
}

.deck-of-cards-faceup {
  border: 3px solid black;
  height: 15rem;
  width: 10rem;
}

.deck-of-cards-faceup ul {
  list-style: none;
}

.spades-card-image {
  content: '\U+2660';
  background-color: red;
}
